In [47]:
import pandas as pd
import numpy as np
import joblib

In [3]:
train_base = pd.read_csv('data/train_base.csv')
test_a_base = pd.read_csv('data/test_a_base.csv')

train_op = pd.read_csv('data/train_op.csv')
test_a_op = pd.read_csv('data/test_a_op.csv')

train_trans = pd.read_csv('data/train_trans.csv')
test_a_trans = pd.read_csv('data/test_a_trans.csv')

train_label = pd.read_csv('data/train_label.csv')

## base处理

In [37]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
train_base_no_nan = train_base.drop(columns=['service3_level'],axis=1)
train_base_no_nan.dropna(axis=0,inplace=True)
user = train_base_no_nan['user'].values
train_base_no_user = train_base_no_nan.drop(columns=['user'],axis=1)
category_value = train_base_no_user.select_dtypes('O').values
ohe_encoder = ohe.fit(category_value)
one_hot_value = ohe_encoder.transform(category_value).toarray()

In [48]:
joblib.dump(ohe_encoder,'one_encoder.pkl')

['one_encoder.pkl']

In [38]:
number_value = train_base_no_user.select_dtypes('int64').values
df_base = pd.DataFrame()
df_base['user'] = user
base = np.concatenate([one_hot_value,number_value],axis=1)
v_df = pd.DataFrame(base)
df_base = pd.concat([df_base,v_df],axis=1)

## OP处理

In [86]:
train_op.head()

,user,op_type,op_mode,op_device,ip,net_type,channel,ip_3,tm_diff
0,Train_36517,b26bc49195bd79cf,87ee0bdf333a54da,92dc8b3f9a9ea13b,bbb0af60b941370b,116a2503b987ea81,4e1ff124e1e6adc8,1e46c177cd9d539a,11 days 09:38:22.000000000
1,Train_36517,b26bc49195bd79cf,87ee0bdf333a54da,92dc8b3f9a9ea13b,bbb0af60b941370b,116a2503b987ea81,4e1ff124e1e6adc8,1e46c177cd9d539a,11 days 09:38:21.000000000
2,Train_36517,b26bc49195bd79cf,87ee0bdf333a54da,92dc8b3f9a9ea13b,bbb0af60b941370b,116a2503b987ea81,4e1ff124e1e6adc8,1e46c177cd9d539a,11 days 09:38:23.000000000
3,Train_36517,b26bc49195bd79cf,87ee0bdf333a54da,92dc8b3f9a9ea13b,bbb0af60b941370b,116a2503b987ea81,4e1ff124e1e6adc8,1e46c177cd9d539a,11 days 09:38:26.000000000
4,Train_36517,b26bc49195bd79cf,87ee0bdf333a54da,92dc8b3f9a9ea13b,bbb0af60b941370b,116a2503b987ea81,4e1ff124e1e6adc8,1e46c177cd9d539a,11 days 09:38:41.000000000

In [11]:
op_df = pd.DataFrame()
group = train_op.groupby(['user'])['user'].count()
op_df['user']=group.index
op_df['count']=group.values

In [12]:
count_column=train_op.columns[1:-1]
for column in count_column:
    op_df[column] = train_op.groupby(['user'])[column].apply(lambda x:len(set(x))).values

In [15]:
from datetime import timedelta
def timedelta2sec(delta):
    day = delta.split('days')[0].strip()
    h,m,s = delta.split('days')[1].strip().split(':')
    sec=timedelta(days=int(day),hours=int(h),minutes=int(m),seconds=float(s)).total_seconds()
    return sec

In [16]:
train_op['time_diff_sec'] = train_op['tm_diff'].apply(timedelta2sec)
op_df['time_std']=train_op.groupby('user')['time_diff_sec'].agg('std').values

In [155]:
op_df.head()

,user,count,op_type,op_mode,op_device,ip,net_type,channel,ip_3,time_std
0,Train_00000,102,11,12,3,4,4,4,4,125051.535485
1,Train_00001,18,3,3,1,2,3,3,2,385614.886428
2,Train_00002,8,3,3,1,1,3,3,1,139.053690
3,Train_00003,108,8,8,3,19,3,3,6,247893.797669
4,Train_00004,5,2,2,1,1,2,2,1,20.659138

## 交易处理

In [18]:
train_trans.head()

,user,platform,tunnel_in,tunnel_out,amount,type1,ip,type2,ip_3,tm_diff
0,Train_13770,46c69cbbce5f1568,b2e7fa260df4998d,6ee790756007e69a,185784,45a1168437c708ff,NaN,11a213398ee0c623,NaN,19 days 09:02:45.000000000
1,Train_13770,46c69cbbce5f1568,b2e7fa260df4998d,6ee790756007e69a,391769,45a1168437c708ff,NaN,11a213398ee0c623,NaN,19 days 09:03:58.000000000
2,Train_08351,46c69cbbce5f1568,b2e7fa260df4998d,6ee790756007e69a,27740,674e8d5860bc033d,f10a09fe9e522a47,11a213398ee0c623,ee386d6f9fe45d0d,18 days 11:06:49.000000000
3,Train_08351,42573d7287a8c9c2,NaN,6ee790756007e69a,36689,f67d4b5a05a1352a,NaN,NaN,NaN,26 days 09:52:51.000000000
4,Train_08351,42573d7287a8c9c2,NaN,6ee790756007e69a,30746,f67d4b5a05a1352a,NaN,NaN,NaN,26 days 07:50:05.000000000

In [176]:
trans_df = pd.DataFrame()
group = train_trans.groupby(['user'])['user'].count()
trans_df['user']=group.index
trans_df['count']=group.values

In [177]:
count_column=list(train_trans.columns[1:4])+list(train_trans.columns[5:9])
for column in count_column:
    trans_df['trans_'+column] = train_trans.groupby(['user'])[column].apply(lambda x:len(set(x))).values

In [178]:
for operate in ['max','min','mean','median','std']:
    trans_df['trans_amount_'+operate]=train_trans.groupby(['user'])['amount'].agg(operate).values

In [179]:
train_trans['time_diff_sec'] = train_trans['tm_diff'].apply(timedelta2sec)

for operate in ['max','min','mean','median','std']:
    trans_df['trans_time_'+operate]=train_trans.groupby('user')['time_diff_sec'].agg(operate).values

In [180]:
trans_df.fillna(0,inplace=True)

In [181]:
trans_df.head()

,user,count,trans_platform,trans_tunnel_in,trans_tunnel_out,trans_type1,trans_ip,trans_type2,trans_ip_3,trans_amount_max,trans_amount_min,trans_amount_mean,trans_amount_median,trans_amount_std,trans_time_max,trans_time_min,trans_time_mean,trans_time_median,trans_time_std
0,Train_00000,13,2,2,1,4,3,2,3,267542,24798,53330.307692,30746.0,65274.138488,2478067.0,1169773.0,1.553383e+06,1627246.0,3.970320e+05
1,Train_00001,2,2,2,1,2,2,2,2,36098,36098,36098.000000,36098.0,0.000000,1821027.0,289554.0,1.055290e+06,1055290.5,1.082915e+06
2,Train_00002,12,2,2,1,3,4,2,4,162423,24980,57329.583333,34541.5,49227.699521,2665430.0,575019.0,1.454428e+06,625491.0,1.069315e+06
3,Train_00003,11,2,2,1,5,3,2,3,188880,25315,61652.454545,36689.0,62929.509668,2563665.0,830115.0,2.243363e+06,2562619.0,6.976849e+05
4,Train_00004,1,1,1,1,1,1,1,1,36689,36689,36689.000000,36689.0,0.000000,2014022.0,2014022.0,2.014022e+06,2014022.0,0.000000e+00

## 数据合并

In [182]:
train_df = pd.merge(df_base, train_label, on='user', how='left')
train_df = pd.merge(train_df, op_df, on='user', how='left')
train_df = pd.merge(train_df, trans_df, on='user', how='left')

In [183]:
train = train_df

In [184]:
length = len(train)
train_length = int(0.9*length)

x = train.drop(columns=['user','label'],axis=1).values[0:train_length]
y = train['label'].values[0:train_length]

valid_x = train.drop(columns=['user','label'],axis=1).values[train_length:]
valid_y = train['label'].values[train_length:]

In [185]:
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score

# lr = LogisticRegression()
# lr.fit(x,y)

model = LGBMClassifier(n_estimators=500, learning_rate=0.02)
model.fit(x, y,
          eval_set=(valid_x, valid_y),
          early_stopping_rounds=5)

prediction = model.predict_proba(valid_x)[:,1]
auc = roc_auc_score(valid_y,prediction)
auc

[1]	valid_0's binary_logloss: 0.562107
Training until validation scores don't improve for 5 rounds
[2]	valid_0's binary_logloss: 0.561154
[3]	valid_0's binary_logloss: 0.560262
[4]	valid_0's binary_logloss: 0.559423
[5]	valid_0's binary_logloss: 0.558622
[6]	valid_0's binary_logloss: 0.557867
[7]	valid_0's binary_logloss: 0.55718
[8]	valid_0's binary_logloss: 0.556475
[9]	valid_0's binary_logloss: 0.5558
[10]	valid_0's binary_logloss: 0.555142
[11]	valid_0's binary_logloss: 0.554542
[12]	valid_0's binary_logloss: 0.553964
[13]	valid_0's binary_logloss: 0.553421
[14]	valid_0's binary_logloss: 0.552912
[15]	valid_0's binary_logloss: 0.552349
[16]	valid_0's binary_logloss: 0.551791
[17]	valid_0's binary_logloss: 0.551379
[18]	valid_0's binary_logloss: 0.550924
[19]	valid_0's binary_logloss: 0.550531
[20]	valid_0's binary_logloss: 0.550139
[21]	valid_0's binary_logloss: 0.549731
[22]	valid_0's binary_logloss: 0.54937
[23]	valid_0's binary_logloss: 0.548967
[24]	valid_0's binary_logloss: 0.548625
[25]	valid_0's binary_logloss: 0.548287
[26]	valid_0's binary_logloss: 0.54794
[27]	valid_0's binary_logloss: 0.547646
[28]	valid_0's binary_logloss: 0.547245
[29]	valid_0's binary_logloss: 0.547007
[30]	valid_0's binary_logloss: 0.546696
[31]	valid_0's binary_logloss: 0.546381
[32]	valid_0's binary_logloss: 0.54609
[33]	valid_0's binary_logloss: 0.545802
[34]	valid_0's binary_logloss: 0.54557
[35]	valid_0's binary_logloss: 0.545292
[36]	valid_0's binary_logloss: 0.544956
[37]	valid_0's binary_logloss: 0.544762
[38]	valid_0's binary_logloss: 0.544521
[39]	valid_0's binary_logloss: 0.544277
[40]	valid_0's binary_logloss: 0.54406
[41]	valid_0's binary_logloss: 0.543823
[42]	valid_0's binary_logloss: 0.543608
[43]	valid_0's binary_logloss: 0.543431
[44]	valid_0's binary_logloss: 0.54321
[45]	valid_0's binary_logloss: 0.542908
[46]	valid_0's binary_logloss: 0.542712
[47]	valid_0's binary_logloss: 0.542503
[48]	valid_0's binary_logloss: 0.542304
[49]	valid_0's binary_logloss: 0.542172
[50]	valid_0's binary_logloss: 0.541928
[51]	valid_0's binary_logloss: 0.541705
[52]	valid_0's binary_logloss: 0.541471
[53]	valid_0's binary_logloss: 0.541274
[54]	valid_0's binary_logloss: 0.541139
[55]	valid_0's binary_logloss: 0.541022
[56]	valid_0's binary_logloss: 0.540868
[57]	valid_0's binary_logloss: 0.540659
[58]	valid_0's binary_logloss: 0.540537
[59]	valid_0's binary_logloss: 0.540377
[60]	valid_0's binary_logloss: 0.540229
[61]	valid_0's binary_logloss: 0.540109
[62]	valid_0's binary_logloss: 0.539926
[63]	valid_0's binary_logloss: 0.539776
[64]	valid_0's binary_logloss: 0.539635
[65]	valid_0's binary_logloss: 0.539464
[66]	valid_0's binary_logloss: 0.539326
[67]	valid_0's binary_logloss: 0.539151
[68]	valid_0's binary_logloss: 0.538999
[69]	valid_0's binary_logloss: 0.538882
[70]	valid_0's binary_logloss: 0.538759
[71]	valid_0's binary_logloss: 0.538634
[72]	valid_0's binary_logloss: 0.538538
[73]	valid_0's binary_logloss: 0.538451
[74]	valid_0's binary_logloss: 0.538327
[75]	valid_0's binary_logloss: 0.538265
[76]	valid_0's binary_logloss: 0.538163
[77]	valid_0's binary_logloss: 0.538083
[78]	valid_0's binary_logloss: 0.53797
[79]	valid_0's binary_logloss: 0.537856
[80]	valid_0's binary_logloss: 0.537739
[81]	valid_0's binary_logloss: 0.537677
[82]	valid_0's binary_logloss: 0.537622
[83]	valid_0's binary_logloss: 0.537531
[84]	valid_0's binary_logloss: 0.537421
[85]	valid_0's binary_logloss: 0.537331
[86]	valid_0's binary_logloss: 0.537165
[87]	valid_0's binary_logloss: 0.537042
[88]	valid_0's binary_logloss: 0.537001
[89]	valid_0's binary_logloss: 0.536888
[90]	valid_0's binary_logloss: 0.536787
[91]	valid_0's binary_logloss: 0.53664
[92]	valid_0's binary_logloss: 0.536521
[93]	valid_0's binary_logloss: 0.536444
[94]	valid_0's binary_logloss: 0.536345
[95]	valid_0's binary_logloss: 0.536202
[96]	valid_0's binary_logloss: 0.536108
[97]	valid_0's binary_logloss: 0.536028
[98]	valid_0's binary_logloss: 0.535894
[99]	valid_0's binary_logloss: 0.535808
[100]	valid_0's binary_logloss: 0.535739
[101]	valid_0's binary_logloss: 0.535667
[102]	valid_0's binary_logloss: 0.535619
[103]	valid_0's binary_logloss: 0.53551
[104]	valid_0's binary_logloss: 0.5354
[105]	valid_0's binary_logloss: 0.535384
[106]	valid_0's binary_logloss: 0.535346
[107]	valid_0's binary_logloss: 0.535229
[108]	valid_0's binary_logloss: 0.535172
[109]	valid_0's binary_logloss: 0.535099
[110]	valid_0's binary_logloss: 0.535075
[111]	valid_0's binary_logloss: 0.535045
[112]	valid_0's binary_logloss: 0.534938
[113]	valid_0's binary_logloss: 0.534894
[114]	valid_0's binary_logloss: 0.534825
[115]	valid_0's binary_logloss: 0.534747
[116]	valid_0's binary_logloss: 0.534729
[117]	valid_0's binary_logloss: 0.534653
[118]	valid_0's binary_logloss: 0.534574
[119]	valid_0's binary_logloss: 0.534568
[120]	valid_0's binary_logloss: 0.534501
[121]	valid_0's binary_logloss: 0.534406
[122]	valid_0's binary_logloss: 0.534327
[123]	valid_0's binary_logloss: 0.534223
[124]	valid_0's binary_logloss: 0.534116
[125]	valid_0's binary_logloss: 0.534009
[126]	valid_0's binary_logloss: 0.533951
[127]	valid_0's binary_logloss: 0.533822
[128]	valid_0's binary_logloss: 0.533719
[129]	valid_0's binary_logloss: 0.533595
[130]	valid_0's binary_logloss: 0.53353
[131]	valid_0's binary_logloss: 0.533413
[132]	valid_0's binary_logloss: 0.533382
[133]	valid_0's binary_logloss: 0.533402
[134]	valid_0's binary_logloss: 0.533312
[135]	valid_0's binary_logloss: 0.533279
[136]	valid_0's binary_logloss: 0.533259
[137]	valid_0's binary_logloss: 0.533215
[138]	valid_0's binary_logloss: 0.533127
[139]	valid_0's binary_logloss: 0.533064
[140]	valid_0's binary_logloss: 0.533045
[141]	valid_0's binary_logloss: 0.532999
[142]	valid_0's binary_logloss: 0.532954
[143]	valid_0's binary_logloss: 0.532921
[144]	valid_0's binary_logloss: 0.532829
[145]	valid_0's binary_logloss: 0.532779
[146]	valid_0's binary_logloss: 0.532775
[147]	valid_0's binary_logloss: 0.532727
[148]	valid_0's binary_logloss: 0.532697
[149]	valid_0's binary_logloss: 0.532677
[150]	valid_0's binary_logloss: 0.532619
[151]	valid_0's binary_logloss: 0.532518
[152]	valid_0's binary_logloss: 0.53248
[153]	valid_0's binary_logloss: 0.53241
[154]	valid_0's binary_logloss: 0.532323
[155]	valid_0's binary_logloss: 0.532249
[156]	valid_0's binary_logloss: 0.532198
[157]	valid_0's binary_logloss: 0.532145
[158]	valid_0's binary_logloss: 0.532112
[159]	valid_0's binary_logloss: 0.532045
[160]	valid_0's binary_logloss: 0.53203
[161]	valid_0's binary_logloss: 0.531964
[162]	valid_0's binary_logloss: 0.531942
[163]	valid_0's binary_logloss: 0.531897
[164]	valid_0's binary_logloss: 0.531812
[165]	valid_0's binary_logloss: 0.531765
[166]	valid_0's binary_logloss: 0.53173
[167]	valid_0's binary_logloss: 0.531675
[168]	valid_0's binary_logloss: 0.531667
[169]	valid_0's binary_logloss: 0.531641
[170]	valid_0's binary_logloss: 0.531597
[171]	valid_0's binary_logloss: 0.531593
[172]	valid_0's binary_logloss: 0.531559
[173]	valid_0's binary_logloss: 0.531547
[174]	valid_0's binary_logloss: 0.531556
[175]	valid_0's binary_logloss: 0.531521
[176]	valid_0's binary_logloss: 0.531446
[177]	valid_0's binary_logloss: 0.531393
[178]	valid_0's binary_logloss: 0.531373
[179]	valid_0's binary_logloss: 0.531321
[180]	valid_0's binary_logloss: 0.531254
[181]	valid_0's binary_logloss: 0.53126
[182]	valid_0's binary_logloss: 0.531226
[183]	valid_0's binary_logloss: 0.531193
[184]	valid_0's binary_logloss: 0.53114
[185]	valid_0's binary_logloss: 0.53109
[186]	valid_0's binary_logloss: 0.53106
[187]	valid_0's binary_logloss: 0.530973
[188]	valid_0's binary_logloss: 0.530882
[189]	valid_0's binary_logloss: 0.53084
[190]	valid_0's binary_logloss: 0.530771
[191]	valid_0's binary_logloss: 0.530721
[192]	valid_0's binary_logloss: 0.530666
[193]	valid_0's binary_logloss: 0.530682
[194]	valid_0's binary_logloss: 0.530644
[195]	valid_0's binary_logloss: 0.530609
[196]	valid_0's binary_logloss: 0.530541
[197]	valid_0's binary_logloss: 0.530471
[198]	valid_0's binary_logloss: 0.530448
[199]	valid_0's binary_logloss: 0.530418
[200]	valid_0's binary_logloss: 0.530401
[201]	valid_0's binary_logloss: 0.530393
[202]	valid_0's binary_logloss: 0.53038
[203]	valid_0's binary_logloss: 0.530374
[204]	valid_0's binary_logloss: 0.530349
[205]	valid_0's binary_logloss: 0.530328
[206]	valid_0's binary_logloss: 0.53029
[207]	valid_0's binary_logloss: 0.530279
[208]	valid_0's binary_logloss: 0.530249
[209]	valid_0's binary_logloss: 0.530251
[210]	valid_0's binary_logloss: 0.530218
[211]	valid_0's binary_logloss: 0.530191
[212]	valid_0's binary_logloss: 0.530144
[213]	valid_0's binary_logloss: 0.530118
[214]	valid_0's binary_logloss: 0.53008
[215]	valid_0's binary_logloss: 0.530084
[216]	valid_0's binary_logloss: 0.530029

[217]	valid_0's binary_logloss: 0.529966
[218]	valid_0's binary_logloss: 0.52993
[219]	valid_0's binary_logloss: 0.529894
[220]	valid_0's binary_logloss: 0.529885
[221]	valid_0's binary_logloss: 0.529841
[222]	valid_0's binary_logloss: 0.529791
[223]	valid_0's binary_logloss: 0.529787
[224]	valid_0's binary_logloss: 0.529824
[225]	valid_0's binary_logloss: 0.529791
[226]	valid_0's binary_logloss: 0.529765
[227]	valid_0's binary_logloss: 0.529773
[228]	valid_0's binary_logloss: 0.529737
[229]	valid_0's binary_logloss: 0.529673
[230]	valid_0's binary_logloss: 0.52964
[231]	valid_0's binary_logloss: 0.529652
[232]	valid_0's binary_logloss: 0.529602
[233]	valid_0's binary_logloss: 0.529647
[234]	valid_0's binary_logloss: 0.529619
[235]	valid_0's binary_logloss: 0.52958
[236]	valid_0's binary_logloss: 0.529565
[237]	valid_0's binary_logloss: 0.529553
[238]	valid_0's binary_logloss: 0.529502
[239]	valid_0's binary_logloss: 0.529479
[240]	valid_0's binary_logloss: 0.529484
[241]	valid_0's binary_logloss: 0.529445
[242]	valid_0's binary_logloss: 0.529529
[243]	valid_0's binary_logloss: 0.529559
[244]	valid_0's binary_logloss: 0.52956
[245]	valid_0's binary_logloss: 0.529541
[246]	valid_0's binary_logloss: 0.529487
Early stopping, best iteration is:
[241]	valid_0's binary_logloss: 0.529445

0.6782946345739088

In [146]:
joblib.dump(model,'model.pkl')

['model.pkl']

In [175]:
pd.DataFrame({
        'column': train.drop(columns=['user','label'],axis=1).columns,
        'importance': model.feature_importances_,
    }).sort_values(by='importance')[-40:]

               column  importance
606           op_mode          47
47                 47          47
621  trans_tunnel_out          50
609          net_type          51
607         op_device          52
588               588          52
605           op_type          53
623          trans_ip          53
619    trans_platform          58
22                 22          66
0                   0          68
42                 42          68
592               592          75
591               591          81
630        time_std_y          89
52                 52          92
601               601         104
590               590         105
618        amount_std         119
526               526         122
627          time_min         130
602               602         138
622       trans_type1         146
616       amount_mean         151
597               597         153
600               600         156
599               599         156
612        time_std_x         160
628         time_mean         171
614        amount_max         185
626          time_max         191
615        amount_min         200
629       time_median         215
598               598         222
584               584         223
604           count_x         226
613           count_y         233
585               585         249
617     amount_median         433
603               603         438

baseline:
0.6769352059269422